<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
<head>
<title>CloudWatch</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

<t:if test="mappage"> 
 	<script src="http://maps.google.com/maps?file=api&amp;v=2.78&amp;key=${google.maps.key}" type="text/javascript"></script>
	<script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0" type="text/javascript"></script>
    <script src="js/searchmaps.js" type="text/javascript"></script>
</t:if>

  </head>

<!-- <body onload="load()" onunload="GUnload()"> -->
<body>



<div id="header">

<h1><img src="/images/webcam5.png"/> ${message:page.title}</h1>
 <div id="menu">
  <ul id="nav">
   <li><a t:type="PageLink" t:page="Start">${message:top.home}</a></li>
   <li><a t:type="PageLink" t:page="Login">${message:top.login}</a></li>
   <li><a t:type="PageLink" t:page="Register">${message:top.register}</a></li>
   <li><a t:type="PageLink" t:page="About">${message:top.about}</a></li>
  </ul>
 </div>
</div>
<div id="content">
<div id="right">

<t:body/>
</div>
</div>
	
<div id="left">
	<div class="box">
		<t:delegate to="firstbox"/>
	</div>
			
	<div class="box">
				<h2>Links :</h2>
				<ul>
				<li><a href="http://www.minimalistic-design.info">Web Design Directory</a></li>
				<li><a href="http://www.historyexplorer.net">History Timelines</a></li>
				<li><a href="http://www.minimalistic-design.net">Free templates</a></li>
				</ul>
	</div>
		
    <div class="box">
	   <div style="font-size: 0.8em;">Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a></div>
	</div>
</div>

</body>
</html>
