<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" style="height:100%">
<head>
<title>Cloudwatch.net Your astronomy weather watcher</title>
<meta name="copyright" content="Eon Consult 2007" />
<meta name="author" content="Mike Rosseel" />
<meta name="keywords" content="Clouds Webcam Astronomy Weather Clear Skies Alert Alarm Observatory Roof Automation Boltwood Sky sensor Cloud cover" />
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

<link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="../css/google.css" media="screen" />

<t:if test="mappage"> 
	<script src="http://maps.google.com/maps?file=api&amp;v=2.78&amp;key=${google.maps.key}" type="text/javascript"></script>
	<script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0" type="text/javascript"></script>
	<script src="http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js" type="text/javascript"></script>
	<script src="js/searchmaps.js" type="text/javascript"></script>
	
	<style type="text/css">
	  @import url("http://www.google.com/uds/css/gsearch.css");
	  @import url("http://www.google.com/uds/solutions/localsearch/gmlocalsearch.css");
	</style>
</t:if>

  </head>

<t:block id="login">
  <t:login/>
</t:block> 

<t:block id="userinfo">
 <t:userinfo/>
</t:block> 


<!-- <body onload="load()" onunload="GUnload()"> -->
<body onunload="GUnload()" style="height:100%;margin:0">

<div id="header">

<div id="logo">
 <img src="${logo}"/>
</div>
<!--<h1>${message:page.title}</h1>-->


 <div id="menu">
  <ul id="nav">
   <li><a t:type="PageLink" t:page="Start">${message:top.home}</a></li>
   <li><a t:type="PageLink" t:page="Register">${message:top.register}</a></li>
   <li><a t:type="PageLink" t:page="FAQ">${message:top.faq}</a></li>
   <li><a t:type="PageLink" t:page="Hardware">${message:top.hardware}</a></li>
  </ul>
 </div>
</div>

<div id="content">




<t:body/>
<!--
<div id="right">
</div>
-->

<div id="left">



 <t:if test="userExists">
	<div class="box">
		 <t:if test="userExists">
				<t:delegate to="block:userinfo"/>			
			<t:parameter name="else"> 	
				<t:delegate to="block:login"/>
	        </t:parameter>
		</t:if>
	
	</div>

	<div class="box">
				<h2>Actions :</h2>
				<ul>
				<li><a href="">My Feeds</a></li>
				<li><a href="">Add this Feed</a></li>
				</ul>
	</div>
</t:if>
	

		
    <div class="box">
	   <div style="font-size: 0.8em;">This site is in alpha testing, drenched telescopes will not be refunded</div>
   </div>

	<div class="box">
		<!-- AddThis Bookmark Button BEGIN -->
		<script type="text/javascript">
		  addthis_url    = location.href;   
		  addthis_title  = document.title;  
		  addthis_pub    = 'Miker';     
		</script><script type="text/javascript" src="http://s7.addthis.com/js/addthis_widget.php?v=12" ></script>
		<!-- AddThis Bookmark Button END -->
	</div>
</div>
</div>

<t:if test="tracking">
<!-- google analytics -->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-608595-3";
urchinTracker();
</script>
</t:if>
</body>
</html>
