<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">
      <web-app>
          <display-name>clouddetect-web Tapestry 5 Application</display-name>
          <context-param>
              <!-- The only significant configuration for Tapestry 5, this informs Tapestry
                   of where to look for pages, components and mixins. -->
              <param-name>tapestry.app-package</param-name>
              <param-value>be.eonconsult.clouddetect.web</param-value>
          </context-param>
           <context-param>
              <param-name>contextConfigLocation</param-name>
			  <param-value>classpath:/applicationcontext-dao.xml classpath:/applicationcontext-jdbc.xml classpath:/hibernate_clouddetect.cfg.xml</param-value>
          </context-param>
          <filter>
              <filter-name>app</filter-name>
		      <filter-class>org.apache.tapestry.spring.TapestrySpringFilter</filter-class>
          </filter>
          <filter-mapping>
              <filter-name>app</filter-name>
              <url-pattern>/*</url-pattern>
          </filter-mapping>

	      <listener>
			<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		  </listener>
		  <!--
  	      <listener>
	      <listener-class>com.stardeveloper.web.listener.ApplicationWatch</listener-class>
	      </listener>
	      -->
      </web-app>
      